<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Vue App</title>
  <style>
    .is-loading{
      background-color: red;
    }
  </style>
</head>
<body>
  <div id="root">
    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>
    <input type="text" v-model="newName">
    <button @click="addName">Add Name</button>

    <div>
      <button v-bind:title="title">Hover over me</button>
      <button :class=" { 'is-loading': isLoading }" @click="toggleClass">Toggle Me</button>
    </div>
  </div>
  <script>
    new Vue({
      el: '#root',
      data: {
        title: 'This is the title',
        newName: '',
        names: ['joe', 'mary', 'james'],
        isLoading: false
      },

      methods: {
        addName(){
          this.names.push(this.newName);
          this.newName = '';
        },
        toggleClass() {
          this.isLoading = !this.isLoading;
        }
      }
    })
  </script>
</body>
</html>