<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Vue App</title>
  <style>
    .is-loading{
      background-color: red;
    }

    .color-red{
      color: red;
    }
    .color-blue{
      color: blue;
    }
  </style>
</head>
<body>
  <div id="root">
    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>
    <input type="text" v-model="newName">
    <button @click="addName">Add Name</button>

    <div>
      <button v-bind:title="title">Hover over me</button>
      <button :class=" { 'is-loading': isLoading }" :disabled="!isLoading" @click="toggleClass">Toggle Me</button>
    </div>

    <!-- Class binding and conditional classes -->
    <div>
      <h1 :class="{ 'color-red': isLoading, 'color-blue' : !isLoading }">Hello Title</h1>
      <button :class="{ 'is-loading': isLoading }" @click="toggleClass">Toggle Me</button>
    </div>


    <!-- Computed properties -->
    <div>
      <h1>
        {{ reversedMessage }}
      </h1>

    </div>

    <h1>All Tasks</h1>
    <ul>
      <li v-for="task in tasks" v-text="task.description"></li>
    </ul>

    <h1>Completed Tasks</h1>
    <ul>
      <li v-for="task in completeTasks" v-text="task.description"></li>
    </ul>

    <h1>Incomplete Tasks</h1>
    <ul>
      <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul>

  </div>
  <script>
    new Vue({
      el: '#root',
      data: {
        title: 'This is the title',
        newName: '',
        names: ['joe', 'mary', 'james'],
        isLoading: false,
        className: "color-red",
        message: "Hello World",

        tasks: [
          { description: 'Go to the store', completed: true},
          { description: 'Go to the mall', completed: false},
          { description: 'Make donation', completed: true},
          { description: 'Clear inbox', completed: false},
          { description: 'Make dinner', completed: false},
          { description: 'Clean room', completed: true},
        ]

      },

      methods: {
        addName(){
          this.names.push(this.newName);
          this.newName = '';
        },
        toggleClass() {
          this.isLoading = !this.isLoading;
        }
      },

      computed: {
        reversedMessage(){
          return this.message.split('').reverse().join('');
        },

        incompleteTasks(){
          return this.tasks.filter(task => !task.completed);
        },

        completeTasks(){
          return this.tasks.filter(task => task.completed);
        }
      }
    })
  </script>
</body>
</html>